* {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245,245,245);
}

footer {
    text-align: center;
    margin-top: 20px;
}

ul {
    margin: 0;
    padding: 10px;
  }

  a:link {
    text-decoration: none;
  }

.DataLoadingContainer {
    min-height: 70vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.title {
    margin: 40px;
    border: 2px solid black;
    padding: 20px;
    background-color: rgb(216, 117, 35);
}

.csv {
    padding: 20px;
}

.csv_title, .button_container {
    text-align: center;
    padding: 20px;
}

.spinner {
    text-align: center;
    .spinner-title {
        margin-bottom: 20px;
    }
}



.summary_text {
    padding-top: 30vh;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-weight: bold;

    .matched {
        padding-top: 20px;
        padding-bottom: 20px;
        color: green
    }

    .no-matched {
        color: red;
        padding-bottom: 20px;
    }
 }

 .summary_table {
     margin-top: 20px;
    border-collapse: collapse;
    border: 2px solid black;
    th {
        padding: 10px;
    }
     td, th {
        text-align: center;
        border: 1px solid black;
     }
 }

 .summary-container {
     h3 {
         padding-left: 40px;
     }
 }
.compare {
    text-align: center;
    .compare_text {
        padding-bottom: 20px;
    }
}

input {
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}
.button_div {
    text-align: center;
}

.button {
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    transition-duration: 0.4s;
    display: block;
    background-color:#4CAF50;
}

.upload_button {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    transition-duration: 0.4s;
    display: block;
    background-color: rgb(216, 117, 35);
}

.button_compare, .error_button {
    margin: auto;
}

.reset {
    margin-left: 10px;

.button_reset {
    margin-top: 20px;
}
}

.button:hover {
    background-color: rgb(139, 43, 43); /* Green */
    color: white;
    cursor: pointer;
  }

  .upload_button:hover {
    background-color: rgb(38, 107, 116); /* Green */
    color: white;
    cursor: pointer;
  }

.upload_links {
    display: inline-block;
    padding: 10px;
}

.error {
    text-align: center;
}

input[type="file"] {
    display: none;
}

// .csv-reader-input {
//     width: 0.1px;
// 	height: 0.1px;
// 	opacity: 0;
// 	overflow: hidden;
// 	position: absolute;
// 	z-index: -1;
// }

// .custom-file-upload {
//     border: 1px solid #ccc;
//     display: inline-block;
//     padding: 6px 12px;
//     cursor: pointer;
// }

// .csv-reader-input + .custom-file-upload {
//     font-size: 1.25em;
//     font-weight: 700;
//     color: white;
//     background-color: black;
//     display: inline-block;
//     cursor: pointer;
// }

// .csv-reader-input:focus + .custom-file-upload,
// .csv-reader-input + .custom-file-upload:hover {
//     background-color: red;
// }